.gallery {
  padding: 10px;
  margin: 10px;
  height: auto;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(219, 215, 215);
    padding: 10px;
    .add-btn {
      font-size: 20px;
      background-color: transparent;
      border: 1px solid rgb(15, 179, 45);
      color: rgb(15, 179, 45);
      padding: 5px 10px;
      margin: 7px 15px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      &:hover {
        background-color: rgb(15, 179, 45);
        color: rgb(249, 249, 249);
      }
    }
  }
  .images {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    z-index: 1;
    .box {
      position: relative;
      .item {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .delete-icon {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(44, 191, 88, 0.469);
          z-index: 3;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          span {
            cursor: pointer;
            padding: 5px;
            font-size: 20px;
          }
          &:hover.delete-icon {
            opacity: 1;
          }
        }
        &:hover img {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }
      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }
    }
  }
}

@media (min-width: 600px) {
  .gallery {
    .images {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 900px) {
  .gallery {
    .images {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1200px) {
  .gallery {
    .images {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media (min-width: 1500px) {
  .gallery {
    .images {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
