.close {
  position: absolute;
  color: rgb(173, 173, 173);
  right: 30px;
  top: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: crimson;
  }
}

.upload-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0px;
  margin: 20px 0px;
  cursor: pointer;
  justify-content: space-between;
}

span {
  color: crimson;
  padding: 3px;
}
