.close {
  position: absolute;
  color: rgb(173, 173, 173);
  right: 30px;
  top: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: crimson;
  }
}

span {
  color: crimson;
  padding: 3px;
}
